<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ appname }} | Twitter Automation</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <!-- THE HEADER -->
        <header id="header">
            <!-- THE CONTAINER -->
            <div class="container">
                <!-- THE LOGO -->
                <section id="logo">
                    <h1>
                        <a href="/"><i class="fa-brands fa-square-twitter"></i> {{appname}}</a>
                    </h1>
                </section>
                <!-- END LOGO -->

                <!-- THE MENU -->
                <nav id="menu">
                    <a href="/tweets" class="menu-item">Tweets</a>
                    <a href="/retweets" class="menu-item">Retweets</a>
                    <a href="/login" class="menu-item" title="Login" id="login-button">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </a>
                </nav>
                <!-- END MENU -->
            </div>
            <!-- END CONTAINER -->
        </header>
        <!-- END HEADER -->
